<footer>
    <div class="container text-center unselectable">
        <h6>made by <span class="text-info" style="cursor: pointer" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">8YL++ &trade;</span></h6>
        <h6>&copy; EssayPractice 2022 - <span id="copyright-year">{% now "Y" %}</span></h6>
    </div>

    <div class="offcanvas offcanvas-bottom bg-primary" style="height:50vh" tabindex="-1" data-bs-scroll="true" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title text-white" id="offcanvasBottomLabel">Команда проекта</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Закрыть"></button>
        </div>
        <div class="offcanvas-body text-center">
          <h2 class="text-white">Контакты</h2>
            <h4 class="text-white contact" style="margin-bottom: 2%"><a class="text-white" href="https://t.me/pvlv_nk" target="_blank">Павлов Николай</a> - ментор</h4>
            <h3 class="text-white">Разработчики:</h3>
            <div class="contact">
                <h4 class="text-white"><a class="text-white" href="https://t.me/aeonva1ues" target="_blank">Евгений Перов</a> - alissonstrange@yandex.ru</h4>
            </div>
            <div class="contact">
                <h4 class="text-white">Надежда Тарасенко - crocodile.who.wears.socks@yandex.ru</h4>
            </div>
            <div class="contact">
                <h4 class="text-white">Арсен Дивиров - ArsenDivirov@yandex.ru</h4>
            </div>
        </div>
      </div>
</footer>

<script>
    'use strict';
    const footer_year = document.getElementById('copyright-year');
    window.onload = function() {
        let date = new Date();
        let year_now = date.getUTCFullYear();
        let server_year = footer_year.innerHTML.split(' ')[1];
        if (Math.abs(server_year - year_now) <= 1) {
            footer_year.innerHTML = `${year_now}`;
        };
    };
</script>
