{% extends 'base.html'%}

{% block content %}
<div class="container" style="padding-top:3%;">
    <h2> {{essay.topic}} </h2>
    <div>
        <h4 class="p-3 mb-2 bg-info"> Вступление</h4>
        <p class="border border-2 border-info">
            {{ essay.intro }}
        </p>
    </div>
    <div>
        <h4 class="p-3 mb-2 bg-info"> Первый аргумент </h4>
        <p class="border border-2 border-info">
            {{ essay.first_arg }}
        </p>
    </div>
    <div>
        <h4 class="p-3 mb-2 bg-info"> Второй аргумент </h4>
        <p class="border border-2 border-info">
            {{ essay.second_arg }}
        </p>
    </div>
    <div>
        <h4 class="p-3 mb-2 bg-info"> Заключение </h4>
        <p class="border border-2 border-info">
            {{ essay.closing }}
        </p>
    </div>
    <div>
        Соответствие теме: {{avg_relevance_to_topic}}%
        Аргументация: {{avg_matching_args}}%
        Композиция: {{avg_composition}}%
        Количество символов: {{volume}}
    </div>
    <form method="POST">
        {% csrf_token %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% if form.errors %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    {{ error|escape }}
                </div>
            {% endfor %}
        {% endif %}
        {% for field in form %}
        <div>
            {% if field.errors %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        {{ error|escape }}
                    </div>
                {% endfor %}
            {% endif %}
            {{ field.label_tag }}
            {{ field }}
        </div>
        {% endfor %}
        <input style="margin-top: 12px" class="btn btn-primary" type="submit" value="Оценить">
    </form>
</div>
{% endblock %}