{% extends 'base.html'%}

{% block content %}
<div class="container" style="padding-top:3%;">
    {% if messages %}
            {% for message in messages %}
                <div class="alert alert-info">
                    {{ message }}
                </div>
            {% endfor %}
    {% endif %}
    <h2> {{essay.topic}} </h2>
    <h6>автор: {{ essay.author }}</h6>
    <div style="padding-top: 30px">
        <p>
            {{ essay.intro }}
        </p>
    </div>
    <div>
        <p>
            {{ essay.first_arg }}
        </p>
    </div>
    <div>
        <p>
            {{ essay.second_arg }}
        </p>
    </div>
    <div>
        <p>
            {{ essay.closing }}
        </p>
    </div>
    <hr>
    <div>
        <ul>
            <li>Соответствие теме: {{avg_relevance_to_topic}}%</li>
            <li>Аргументация: {{avg_matching_args}}%</li>
            <li>Композиция: {{avg_composition}}%</li>
            <li>Количество слов: {{volume}}</li>
        </ul>
    </div>
    <hr>
    <form method="POST">
        {% csrf_token %}
        {% if form.errors %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    {{ error|escape }}
                </div>
            {% endfor %}
        {% endif %}
        {% for field in form %}
        <div>
            {% if field.errors %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        {{ error|escape }}
                    </div>
                {% endfor %}
            {% endif %}
            {{ field.label_tag }}
            {{ field }}
        </div>
        {% endfor %}
        {% if form %}
            <input style="margin-top: 12px" class="btn btn-primary" type="submit" value="Оценить">
        {% endif %}
    </form>
    <hr>
    <div>
        {% for g in essay.grade.all %}
            <div class="alert alert-secondary">
                <p>от {{ g.reviewer }}<br>"{{ g.comment }}"<br><br>{{ g.pub_date }}</p>
            </div>
            {% empty %}
            <span style="color: red">Комментариев под сочинением пока нет</span>
        {% endfor %}
    </div>

</div>
{% endblock %}
