{% extends 'base.html' %}

{% block title %}
<title>Лента</title>
{% endblock %}

{% block content %}
<div class="container" style="padding-top:3%;">
    {% for essay in essays %}
        <p class="border border-2 border-info">
            <h2> {{ essay.topic }} </h2>
            {{ essay.intro }}<br>
            <a href="{% url 'essayfeed:detail_essay' essay.pk %}"> Читать далее... </a>
        </p>
    {% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</div>
{% endblock %}
