{% extends 'base.html' %}

{% block title %}
<title>Вы уверены?</title>
{% endblock %}

{% block content %}
<div class="container" style="padding-top: 4%">
    {% if request.user.is_superuser %}
        <div class="alert alert-warning">
            <form method="post">{% csrf_token %}
                <h1>Вы уверены, что хотите удалить {{ object }}</h1>
                {{ form }}
                <input class="btn btn-lg btn-success" type="submit" value="Да">
            </form>
        </div>
    {% else %}
        <div class="alert alert-danger">
            <h1>Недостаточно прав!</h1>
        </div>
    {% endif %}
</div>
{% endblock %}
