{% extends 'base.html' %}

{% block title %}
<title>Справочник по итоговому сочинению</title>
{% endblock %}

{% block content %}
<div class="container">
    <h1>Критерии оценивания итогового сочинения</h1>
    <div class="card container" style="margin-bottom: 60px">
        <h6>Взято с: <a href="https://4ege.ru/sochinenie/60212-kriterii-ocenivanija-itogovogo-sochinenija.html">https://4ege.ru/sochinenie/60212-kriterii-ocenivanija-itogovogo-sochinenija.html</a></h6>

        <p>Официальные критерии оценивания итогового сочинения 2022-2023 от ФИПИ.
        <br />
        <a href="https://4ege.ru/index.php?do=download&amp;id=19467">it-s22-23.pdf</a>
        &nbsp;</p>
        
        <p>К проверке по критериям оценивания допускаются итоговые сочинения, соответствующие установленным требованиям.</p>
    </div>
    <div class="card container" style="margin-bottom: 60px">
        <div class="card-title">
            <h2> <strong>Требование №1. &laquo;Объём итогового сочинения&raquo;</strong><sup>1</sup> </h2>
        </div>
        Рекомендуемое количество слов &ndash; от 350.<br />
        Максимальное количество слов в сочинении не устанавливается.<br />
        <br />
        <div style="background-color: #ddeeff">
            Если в сочинении менее 250 слов (в подсчет включаются все слова, в том числе и служебные), то выставляется &laquo;незачёт&raquo; за невыполнение требования №1 и &laquo;незачёт&raquo; за работу в целом (такое итоговое сочинение не проверяется по требованию №2 &laquo;Самостоятельность написания итогового сочинения (изложения)&raquo; и критериям оценивания).
        </div>
    </div>

    <div class="card container" style="margin-bottom: 60px">
        <h2> <strong>Требование №2. &laquo;Самостоятельность написания итогового сочинения&raquo;</strong></h2>
        Итоговое сочинение выполняется самостоятельно. Не допускается списывание сочинения (фрагментов сочинения) из какого-либо источника или воспроизведение по памяти чужого текста (работа другого участника, текст, опубликованный в бумажном и (или) электронном виде, и др.).<br />
        <br />
        Допускается прямое или косвенное цитирование с обязательной ссылкой на источник (ссылка дается в свободной форме). Объем цитирования не должен превышать объем собственного текста участника.<br />
        <br />
        <div style="background-color: #ddeeff">
            Если сочинение признано несамостоятельным, то выставляется &laquo;незачёт&raquo; за невыполнение требования №2 и &laquo;незачёт&raquo; за работу в целом (такое сочинение не проверяется по критериям оценивания).
        </div>
    </div>

    <div class="card container" style="margin-bottom: 60px">
        <h4><strong>Итоговое сочинение, соответствующее установленным требованиям, оценивается по критериям:</strong></h4>
        1. &laquo;Соответствие теме&raquo;;<br />
        2. &laquo;Аргументация. Привлечение литературного материала&raquo;;<br />
        3. &laquo;Композиция и логика рассуждения&raquo;;<br />
        4. &laquo;Качество письменной речи&raquo;;<br />
        5. &laquo;Грамотность&raquo;.<br />
        <br />
        <strong>Критерии №1 и №2 являются основными.</strong><br />
        <div style="background-color: #ddeeff">
            Для получения &laquo;зачёта&raquo; за итоговое сочинение необходимо получить &laquo;зачёт&raquo; по критериям №1 и №2 (выставление &laquo;незачёта&raquo; по одному из этих критериев автоматически ведет к &laquo;незачёту&raquo; за работу в целом), а также дополнительно &laquo;зачёт&raquo; по одному из других критериев.
        </div>
    </div>
    
    <div class="card container" style="margin-bottom: 60px">
        <h2> <strong>Критерий №1 &laquo;Соответствие теме&raquo;</strong> </h2>
        Данный критерий нацеливает на проверку содержания сочинения.<br />
        Участник должен рассуждать на предложенную тему, выбрав путь ее раскрытия (например, отвечает на вопрос, поставленный в теме, или размышляет над предложенной проблемой и т.п.).<br />
        <br />
        <div style="background-color: #ddeeff">
            &laquo;Незачёт&raquo; ставится только в случае, если сочинение не соответствует теме, в нем нет ответа на вопрос, поставленный в теме, или в сочинении не прослеживается конкретной цели высказывания. Во всех остальных случаях выставляется &laquo;зачёт&raquo;.
        </div>
    </div>

    <div class="card container" style="margin-bottom: 60px">
        <h2> <strong>Критерий №2 &laquo;Аргументация. Привлечение литературного материала&raquo;</strong></h2>
        Данный критерий нацеливает на проверку умения строить рассуждение, доказывать свою позицию, формулируя аргументы и подкрепляя их примерами из опубликованных литературных произведений. Можно привлекать произведения устного народного творчества (за исключением малых жанров), художественную, документальную, мемуарную, публицистическую, научную и научно-популярную литературу (в том числе философскую, психологическую, литературоведческую, искусствоведческую), дневники, очерки, литературную критику и другие произведения отечественной и мировой литературы (достаточно опоры на один текст).<br />
        <br />
        <div style="background-color: #ddeeff">
            &laquo;Незачёт&raquo; ставится при условии, если сочинение не содержит аргументации, написано без опоры на литературный материал, или в нем существенно искажено содержание выбранного текста, или литературный материал лишь упоминается в работе (аргументы примерами не подкрепляются). Во всех остальных случаях выставляется &laquo;зачёт&raquo;.
        </div>
    </div>

    <div class="card container" style="margin-bottom: 60px">
        <h2> <strong>Критерий №3 &laquo;Композиция и логика рассуждения&raquo;</strong> </h2>
        Данный критерий нацеливает на проверку умения логично выстраивать рассуждение на предложенную тему. Участник должен выдерживать соотношение между тезисом и доказательствами.<br />
        <br />
        <div style="background-color: #ddeeff">
            &laquo;Незачёт&raquo; ставится при условии, если грубые логические нарушения мешают пониманию смысла сказанного или отсутствует тезисно-доказательная часть. Во всех остальных случаях выставляется &laquo;зачёт&raquo;.
        </div>
    </div>

    <div class="card container" style="margin-bottom: 60px">
        <h2> <strong>Критерий №4 &laquo;Качество письменной речи&raquo;</strong> </h2>
        Данный критерий нацеливает на проверку речевого оформления текста сочинения.<br />
        Участник должен точно выражать мысли, используя разнообразную лексику и различные грамматические конструкции, при необходимости уместно употреблять термины.<br />
        <br />
        <div style="background-color: #ddeeff">
            &laquo;Незачёт&raquo; ставится при условии, если низкое качество речи (в том числе речевые ошибки) существенно затрудняет понимание смысла сочинения. Во всех остальных случаях выставляется &laquo;зачёт&raquo;.
        </div>
    </div>

    <div class="card container" style="margin-bottom: 60px">
        <h2> <strong>Критерий №5 &laquo;Грамотность&raquo;</strong><sup>2</sup></h2>
        Данный критерий позволяет оценить грамотность выпускника.<br />
        <br />
        <div style="background-color: #ddeeff">
            &laquo;Незачёт&raquo; ставится при условии, если на 100 слов в среднем приходится в сумме более пяти ошибок: грамматических, орфографических, пунктуационных<sup>3</sup>.
        </div>
    </div>
    <br />
    <sup>1</sup>&nbsp;При подсчёте слов в сочинении учитываются как самостоятельные, так и служебные части речи. Подсчитывается любая последовательность слов, написанных без пробела (например, &laquo;всё-таки&raquo; &ndash; одно слово, &laquo;всё же&raquo; &ndash; два слова). Инициалы с фамилией считаются одним словом (например, &laquo;М.Ю. Лермонтов&raquo; &ndash; одно слово). Любые другие символы, в частности цифры, при подсчёте не учитываются (например, &laquo;5 лет&raquo; &ndash; одно слово, &laquo;пять лет&raquo; &ndash; два слова).<br />
    <br />
    <sup>2</sup>&nbsp;Итоговое сочинение для лиц с ограниченными возможностями здоровья, детей-инвалидов и инвалидов может по их желанию и при наличии соответствующих медицинских показаний проводиться в устной форме. Оценивание итогового сочинения указанной категории участников итогового сочинения проводится по двум установленным требованиям &laquo;Объем итогового сочинения&raquo; и &laquo;Самостоятельность написания итогового сочинения&raquo;. Итоговое сочинение, соответствующее установленным требованиям, оценивается по критериям. Для получения &laquo;зачёта&raquo; за итоговое сочинение необходимо получить &laquo;зачёт&raquo; по критериям № 1 и № 2, а также дополнительно &laquo;зачёт&raquo; по одному из критериев № 3 или № 4. Итоговое сочинение в устной форме по критерию № 5 не проверяется.<br />
    <br />
    <sup>3</sup>&nbsp;На оценку сочинения по Критерию № 5 распространяются положения о негрубых и однотипных ошибках.</p>
</div>
{% endblock %}
