{% extends 'base.html' %}

{% block title %}
<title>Справочник по итоговому сочинению</title>
{% endblock %}

{% block content %}
<div class="container">
    <h1>Критерии оценивания итогового сочинения</h1>
    <h6>Взято с: <a href="https://4ege.ru/sochinenie/60212-kriterii-ocenivanija-itogovogo-sochinenija.html">https://4ege.ru/sochinenie/60212-kriterii-ocenivanija-itogovogo-sochinenija.html</a></h6>

    <p><a href="https://4ege.ru/sochinenie/">Сочинение</a></p>
    
    <p>Официальные критерии оценивания итогового сочинения 2022-2023 от ФИПИ.<br />
    <br />
    <a href="https://4ege.ru/index.php?do=download&id=19467">it-s22-23.pdf</a><br />
    <br />
     </p>
    
    <p>К проверке по критериям оценивания допускаются итоговые сочинения, соответствующие установленным требованиям.</p>
    
    <p><br />
    <br />
    <strong>Требование №1. «Объём итогового сочинения»</strong><sup>1</sup><br />
    <br />
    Рекомендуемое количество слов – от 350.<br />
    <br />
    Максимальное количество слов в сочинении не устанавливается. Если в сочинении менее 250 слов (в подсчет включаются все слова, в том числе и служебные), то выставляется «незачёт» за невыполнение требования №1 и «незачёт» за работу в целом (такое итоговое сочинение не проверяется по требованию №2 «Самостоятельность написания итогового сочинения (изложения)» и критериям оценивания).<br />
    <br />
    <br />
    <strong>Требование №2. «Самостоятельность написания итогового сочинения»</strong><br />
    <br />
    Итоговое сочинение выполняется самостоятельно. Не допускается списывание сочинения (фрагментов сочинения) из какого-либо источника или воспроизведение по памяти чужого текста (работа другого участника, текст, опубликованный в бумажном и (или) электронном виде, и др.).<br />
    <br />
    Допускается прямое или косвенное цитирование с обязательной ссылкой на источник (ссылка дается в свободной форме). Объем цитирования не должен превышать объем собственного текста участника.<br />
    <br />
    Если сочинение признано несамостоятельным, то выставляется «незачёт» за невыполнение требования №2 и «незачёт» за работу в целом (такое сочинение не проверяется по критериям оценивания).<br />
    <br />
    <br />
    <strong>Итоговое сочинение, соответствующее установленным требованиям, оценивается по критериям:</strong><br />
    <br />
    1. «Соответствие теме»;<br />
    2. «Аргументация. Привлечение литературного материала»;<br />
    3. «Композиция и логика рассуждения»;<br />
    4. «Качество письменной речи»;<br />
    5. «Грамотность».<br />
    <br />
    <strong>Критерии №1 и №2 являются основными.</strong><br />
     </p>
    
    <p>Для получения «зачёта» за итоговое сочинение необходимо получить «зачёт» по критериям №1 и №2 (выставление «незачёта» по одному из этих критериев автоматически ведет к «незачёту» за работу в целом), а также дополнительно «зачёт» по одному из других критериев.</p>
    
    <p><br />
    <br />
    <br />
    <strong>Критерий №1 «Соответствие теме»</strong><br />
    <br />
    Данный критерий нацеливает на проверку содержания сочинения.<br />
    <br />
    Участник должен рассуждать на предложенную тему, выбрав путь ее раскрытия (например, отвечает на вопрос, поставленный в теме, или размышляет над предложенной проблемой и т.п.).<br />
    <br />
    «Незачёт» ставится только в случае, если сочинение не соответствует теме, в нем нет ответа на вопрос, поставленный в теме, или в сочинении не прослеживается конкретной цели высказывания. Во всех остальных случаях выставляется «зачёт».<br />
    <br />
    <br />
    <strong>Критерий №2 «Аргументация. Привлечение литературного материала»</strong><br />
    <br />
    Данный критерий нацеливает на проверку умения строить рассуждение, доказывать свою позицию, формулируя аргументы и подкрепляя их примерами из опубликованных литературных произведений. Можно привлекать произведения устного народного творчества (за исключением малых жанров), художественную, документальную, мемуарную, публицистическую, научную и научно-популярную литературу (в том числе философскую, психологическую, литературоведческую, искусствоведческую), дневники, очерки, литературную критику и другие произведения отечественной и мировой литературы (достаточно опоры на один текст).<br />
    <br />
    «Незачёт» ставится при условии, если сочинение не содержит аргументации, написано без опоры на литературный материал, или в нем существенно искажено содержание выбранного текста, или литературный материал лишь упоминается в работе (аргументы примерами не подкрепляются). Во всех остальных случаях выставляется «зачёт».<br />
    <br />
    <br />
    <strong>Критерий №3 «Композиция и логика рассуждения»</strong><br />
    <br />
    Данный критерий нацеливает на проверку умения логично выстраивать рассуждение на предложенную тему. Участник должен выдерживать соотношение между тезисом и доказательствами.<br />
    <br />
    «Незачёт» ставится при условии, если грубые логические нарушения мешают пониманию смысла сказанного или отсутствует тезисно-доказательная часть. Во всех остальных случаях выставляется «зачёт».<br />
    <br />
    <br />
    <strong>Критерий №4 «Качество письменной речи»</strong><br />
    <br />
    Данный критерий нацеливает на проверку речевого оформления текста сочинения.<br />
    <br />
    Участник должен точно выражать мысли, используя разнообразную лексику и различные грамматические конструкции, при необходимости уместно употреблять термины.<br />
    <br />
    «Незачёт» ставится при условии, если низкое качество речи (в том числе речевые ошибки) существенно затрудняет понимание смысла сочинения. Во всех остальных случаях выставляется «зачёт».<br />
    <br />
    <br />
    <strong>Критерий №5 «Грамотность»</strong><sup>2</sup><br />
    <br />
    Данный критерий позволяет оценить грамотность выпускника.<br />
    <br />
    «Незачёт» ставится при условии, если на 100 слов в среднем приходится в сумме более пяти ошибок: грамматических, орфографических, пунктуационных<sup>3</sup>.<br />
    <br />
    <br />
    <br />
    <br />
    <sup>1</sup> При подсчёте слов в сочинении учитываются как самостоятельные, так и служебные части речи. Подсчитывается любая последовательность слов, написанных без пробела (например, «всё-таки» – одно слово, «всё же» – два слова). Инициалы с фамилией считаются одним словом (например, «М.Ю. Лермонтов» – одно слово). Любые другие символы, в частности цифры, при подсчёте не учитываются (например, «5 лет» – одно слово, «пять лет» – два слова).<br />
    <br />
    <sup>2</sup> Итоговое сочинение для лиц с ограниченными возможностями здоровья, детей-инвалидов и инвалидов может по их желанию и при наличии соответствующих медицинских показаний проводиться в устной форме. Оценивание итогового сочинения указанной категории участников итогового сочинения проводится по двум установленным требованиям «Объем итогового сочинения» и «Самостоятельность написания итогового сочинения». Итоговое сочинение, соответствующее установленным требованиям, оценивается по критериям. Для получения «зачёта» за итоговое сочинение необходимо получить «зачёт» по критериям № 1 и № 2, а также дополнительно «зачёт» по одному из критериев № 3 или № 4. Итоговое сочинение в устной форме по критерию № 5 не проверяется.<br />
    <br />
    <sup>3</sup> На оценку сочинения по Критерию № 5 распространяются положения о негрубых и однотипных ошибках.</p>
    
</div>
{% endblock %}
