{% extends 'base.html' %}

{% block title %}
<title>Пишу сочинение</title>
{% endblock %}
{% block content %}
<div class="container">
    <h1 class="text-center">Написание сочинения</h1>
    <form method="POST">
        {% csrf_token %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% if form.errors %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    {{ error|escape }}
                </div>
            {% endfor %}
        {% endif %}
        {% for field in form %}
        <div>
            {% if field.errors %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        {{ error|escape }}
                    </div>
                {% endfor %}
            {% endif %}
            {% if field.name == 'topic' %}
                {{ field.label_tag }}
                <select name="{{field.name}}" class="form-select" style="margin-bottom: 60px" aria-label="Перечень тем на выбор">
                    {% if field.field.queryset|length > 1 %}
                        <option selected value="">Выбрать тему</option>
                        {% for db_note in field.field.queryset|slice:":3" %}
                            <option value="{{ db_note.id }}">{{db_note.name}}</option>
                        {% endfor %}
                    {% else %}
                        <option selected value="{{ field.field.queryset.0.id }}">{{field.field.queryset.0.name}}</option>
                    {% endif %}
                </select>
            {% else %}
                {% if field.name == 'mentors_email' %}
                    <div class="form-check" style="padding-top: 6px">
                        <input class="form-check-input" type="checkbox" value="show_mentors_email" id="mentors_email_checkbox">
                        <label class="form-check-label" for="show_mentors_email">
                            Это не публичная работа
                        <label>
                    </div>
                {% endif %}
                {{ field }}
            {% endif %}
        </div>
        {% endfor %}
        <input style="margin-top: 12px" class="btn btn-primary" type="submit" value="Готово к проверке">
    </form>
    
</div>

<script>
'use strict';
const mentors_email_field = document.getElementById('id_mentors_email');
const mentors_email_checkbox = document.getElementById('mentors_email_checkbox');

function show_obj(obj) {
    obj.classList.remove('visually-hidden');
};
function hide_obj(obj) {
    obj.classList.add('visually-hidden');
};

let status = 0;  // 0 - форма скрыта, 1 - отображается
let localstorage_data = localStorage.getItem('status');
// При изменении значения в локальном хранилище вручную, функционал не нарушается
if(localstorage_data) {
    status = parseInt(localstorage_data);
    if(!(status===0)) {
        show_obj(mentors_email_field);
        mentors_email_checkbox.checked = true;
        // Если значение было изменено вручную задавать 1
        localStorage.setItem('status', 1);
    };
} else {
    localStorage.setItem('status', 0);
};
mentors_email_checkbox.addEventListener("change", function (action) {
    if (status % 2 === 0) {
        status ++;
        show_obj(mentors_email_field);
    } else {
        status --;
        hide_obj(mentors_email_field);
        // Очистка поля при скрытии 
        mentors_email_field.value = '';
    };
    localStorage.setItem('status', status);
  });
</script>
{% endblock %}
