{% extends 'base.html' %}

{% block title %}
<title>Лента</title>
{% endblock %}

{% block content %}
<div class="container" style="padding-top:3%;">
    {% for essay in essays %}
        <div class="card container" style="margin-bottom: 60px">
            <div class="card-header text-end">
                <strong>{{ essay.pub_date|date:'d M Y' }}</strong>
                <br>
                <strong>Автор: {{ essay.author }}</strong>
                <br>
                <strong>Количество ревью: {{ essay.grade.count }}</strong>
                {% if essay.avg_rating %}
                    <br>
                    <strong>Средний балл: {{ essay.avg_rating }} </strong>
                {% endif %}
            </div>
            <div class="card-title">
                <h2> {{ essay.topic }} </h2>
            </div>
            <div>
                {{ essay.intro|truncatechars:700 }}<br>
                <a href="{% url 'essayfeed:detail_essay' essay.pk %}"> Читать далее... </a>
            </div>
            <hr>
            <strong>Лучшие комментарии:</strong>
        {% for g in essay.grade.all|slice:":3" %}
            <div class="alert alert-secondary">
                <p>от {{ g.reviewer }}<br>"{{g.comment}}"</p>
            </div>
            {% empty %}
            <span style="color: red">Комментариев под сочинением пока нет</span>
        {% endfor %}
        </div>
    {% empty %}
    <h3 class="text-center">Сочинения не найдены :(</h3>
    {% endfor %}

{% include "include/pagination.html" %}
{% endblock %}
