{% extends 'base.html' %}

{% block title %}
<title>Вход в аккаунт</title>
{% endblock %}

{% block content %}
<div class="container text-center">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Вход</h1>

            {% include 'include/form_post.html' %}
            <input style="margin-top: 12px" class="btn btn-primary" type="submit" value="Подтвердить">
            
            <a href="{% url 'users:password_reset' %}">Забыли пароль?</a>
            <br>
            <a href="{% url 'users:signup' %}">Нет аккаунта?</a>
        </div>
    </div>
</div>
{% endblock %}
