{% extends 'base.html' %}

{% block content %}
<div class="container text-center">
    {% if validlink %}
    <div class="card">
        <div class="card-body">
            <h1>Пожалуйста введите, новый пароль</h1>

            <form method="post">{% csrf_token %}
                <fieldset class="module aligned">
                    <div class="form-row field-password1">
                        {% if form.new_password1.errors %}
                            <div class="alert alert-danger" style="margin: 20px">
                                {% for error in form.new_password1.errors %}
                                    <h6>{{ error }}</h6>
                                {% endfor %}
                            </div>
                        {% endif %}
                        <h5 style="padding-top: 20px">Новый пароль:</h5>
                        <div>{{ form.new_password1 }}</div>
                    </div>
                    <div class="form-row field-password2">
                        {% if form.new_password2.errors %}
                            <div class="alert alert-danger" style="margin: 20px">
                                {% for error in form.new_password2.errors %}
                                    <h6>{{ error }}</h6>
                                {% endfor %}
                            </div>
                        {% endif %}
                        <h5 style="padding-top: 20px">Подтвердите пароль:</h5>
                        <div>{{ form.new_password2 }}</div>
                    </div>
                    <input class="btn btn-info" style="margin-top: 20px" type="submit" value="Поменять">
                </fieldset>
            </form>

            {% else %}
            <div class="alert alert-warning">
                <div class="container">
                    <p>Похоже, ссылка, использованная вами невалидная!</p>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
